<div class="chat-box">
    <div class="chat-title">
      <%= image_tag (@chatroom.is_group) ? chatroom_avatar(@chatroom) : user_avatar(find_friend_from_chatroom(@chatroom)) %>
      <span>
        <% if @chatroom.is_group %>
          <%= @chatroom.name %>
        <% else %>
          <%= get_friend(@chatroom).first.user.display_name %>
        <% end %>
      </span>
      <a class="dropdown-trigger" href="#!" data-target="chat-dropdown">
        <i class="material-icons right">more_vert</i>
      </a>
      <ul id="chat-dropdown" class="dropdown-content">
        <li>
          <%= link_to  "記事本", chatroom_notes_path(@chatroom) %>
        </li>
        <li>
          <%= render  "info", chatroom: @chatroom %>
      </ul>
    </div>
    <div class="chat-main">
      <div id="messages" data-chatroom-id= "<%= @chatroom.id %>" user= "<%= current_user.identifier %>">
        <ul class="chat-list">
          <% if @chatroom.chatroom_messages.length > 0 %>
            <% @chatroom.chatroom_messages.each do |msg| %>
              <%= render  "chatrooms/message", message: msg %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="chat-create">
      <%= form_tag current_user, method: "post", id: "new_message" do %>
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large">
            <i class="large material-icons">add</i>
          </a>
          <ul>
            <li>
              <%= link_use_i_tag("format_quote", chat_templates_path, :get, "btn-floating yellow darken-1") %>
            </li>
          </ul>
        </div>

        <%= text_field_tag :content, params[:content], id: "message_body" %>
        <button>
          <i class="material-icons right">send</i>
        </button>
      <% end %>
    </div>

    <% if @chat_templates.size > 0 %>
      <div class="chat-template">
        <ul>
          常用語詞：
          <% @chat_templates.each do |chat_template| %>
            <li>
              <button class="template" onclick="chatTemplate()" value="<%= chat_template.content %>">
                <%= chat_template.content %>
              </button>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
