<h1>
  <% if @chatroom.is_group %>
    <%= @chatroom.name %>
  <% else %>
    <%= get_friend(@chatroom).first.user.display_name %>
  <% end %>
</h1>
<% if @chatroom.is_group %>
  <%= link_to  "群組管理", edit_chatroom_path(@chatroom) %>
  <%= link_to  "成員管理", chatroom_chatroom_groups_path(@chatroom) %>
<% end %>




<div id="messages" data-chatroom-id= "<%= @chatroom.id %>" user= "<%= current_user.identifier %>">
  <div>
    <% if @chatroom.chatroom_messages.length > 0 %>
      <% @chatroom.chatroom_messages.each do |msg| %>
        <%= render  "chatrooms/message", message: msg %>
      <% end %>
    <% else %>
      No messages
    <% end %>
  </div>
</div>

<%= form_tag current_user, method: "post", id: "new_message" do %>
  <%= text_field_tag :content, params[:content], id: "message_body" %>
  <%= submit_tag "送出" %>
<% end %>