<div class="user-title">
    <%= image_tag user_avatar(@user) %>
        <span><%= find_fullname(current_user.id) %></span>
</div>
<div class="user-information">
    <div class="row">
        <div class="col s3">
            <%= link_to  "#{@user.users_friend.size}<br>好友".html_safe, friends_path %>
        </div>
        <div class="col s3">
            <%= link_to  "#{@user.news_feeds.size}<br>貼文".html_safe, news_feeds_path %>
        </div>
        <div class="col s3">
            <%= link_to  "#{@user.followers_follower.size}<br>追蹤者".html_safe, follow_me_followers_path %>
        </div>
        <div class="col s3">
            <%= link_to  "#{@user.favorites.size}<br>收藏".html_safe, "#" %>
        </div>
    </div>
    <div class="row">
        <div class="col s12" style="margin-bottom:1em;">
            <%= simple_format(@user.description) %>
        </div>
    </div>
</div>
<div class="user-context">
    <% if @user.news_feeds %>
      <% @user.news_feeds.each do |news_feed| %>
        <div class="card">
            <div class="card-image">
                <%= image_tag news_feed_picture(news_feed) %>
                <span class="card-title">
                    <%= news_feed.title %>
                </span>
            </div>
            <div class="card-content">
              <% if can? :manage, news_feed %>
                <a class="dropdown-trigger" href="#!" data-target="chat-dropdown">
                  <i class="material-icons right">more_vert</i>
                </a>
                <ul id="chat-dropdown" class="dropdown-content">
                  <li><%= link_to "編輯", edit_news_feed_path(news_feed.id) %></li>
                  <li><%= link_to "刪除", news_feed_path(news_feed.id), method: :delete, data: {confirm: "確定要刪除？"} %></li>
                </ul>
              <% end %>

              <p><%= news_feed.description %></p>
            </div>
            <div class="card-action feed-footer">
              <ul>
                <li><%= like_or_unlike(news_feed.id, news_feed) %></li>
                <li><%= comment(news_feed.id, news_feed) %></li>
              </ul>
            </div>
        </div>
      <% end %>
    <% end %>
</div>
