<% get_chatrooms %>
<div>
    <%= link_to "我想追蹤誰", i_want_to_follow_whom_follower_apply_forms_path %>
    <%= link_to "誰想追蹤我", who_wants_to_follow_me_follower_apply_forms_path %>
    <%= link_to "好友申請", friend_apply_forms_path %>
</div>
<br>
<div>
  群組
  <%= link_to  "新增", new_chatroom_path %>
  <hr>
  <% unless @groups.size > 0 %>
    No Group
  <% else %>
    <%= render  "shared/chatroom", chatrooms: @groups %>
  <% end %>
</div>
<br>
<div>
  好友
  <hr>
  <% unless @friends.size > 0 %>
    No Friends
  <% else %>
    <%= render  "shared/chatroom", chatrooms: @friends %>
  <% end %>
</div>