<%= simple_form_for news_feed do |f| %>
  <%= f.input :description %>
  <div class="row">
    <div class="col"><%= f.input :lat %></div>
    <div class="col"><%= f.input :lng %></div>
  </div>
  <%= f.button :submit %>
<% end %>
