<h2>成員管理</h2>
<%= link_to  "上一頁", chatroom_path(@chatroom) %>


<div class="row">
  <div class="col s12">
    <div class="groups-title">
      <h5>
        <a href="#">
          <%= image_tag chatroom_avatar(@chatroom) %>
          <span><%= @chatroom.name %></span>
        </a>
      </h5>
      <div class="right">
        <a data-target="change-groups" class=" modal-trigger waves-effect waves-light btn">
          <i class="material-icons right">edit</i>修改
        </a>
        <div id="change-groups" class="modal">
          <div class="modal-content">
            <form class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="title" class="materialize-textarea"></textarea>
                <label for="title">Title</label>
                <a class="waves-effect waves-light btn-small">
                  <i class="material-icons right">image</i>Add</a>
              </div>
              <div class="modal-footer col s12">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col s12">
    <ul class="user-list">
      <% @chatroom.chatroom_groups.each do |group| %>
        <li>
          <%= image_tag user_avatar(group.user) %>
          <span><%= group.user.list_name %></span>
          <%= render  "quit_button", group: group %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<hr>

<% if @friends.present? %>
  <table>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
    <% @friends.each do |friend| %>
    <tr>
      <td><%= friend.friend.list_name %></td>
      <td>
        <%= button_to  "新增", chatroom_groups_path(@chatroom), params: {user_id: friend.friend_id} %>
      </td>
    </tr>
    <% end %>
  </table>
<% end %>