<div>
  <%= render 'form', news_feed: @news_feed %>
  <br/>
  <hr/>
  <br/>
  <% @news_feeds.each do |news_feed| %>
    <div class="card">
      <div class="card-image">
        <%= image_tag "yuna.jpg" %>
        <span class="card-title"><%= news_feed.user.display_name %></span>
      </div>
      <div class="card-content">
        <%= news_feed.description %> <br>
        <%= news_feed.timestamp %>
      </div>
      <div class="card-action">
        <div class="row">
            <%= link_to "#{like_amount(news_feed.id)}人喜歡" if like_amount(news_feed.id) > 0 %>
          </div>
          <div class="row">
            <%= like_or_unlike(news_feed.id) %>
            <%= link_to "comment", "#" %>
            <%= link_to "position", "#" %>
            <%= link_to "update", edit_news_feed_path(news_feed.id) %>
            <%= link_to "delete", news_feed_path(news_feed.id), method: :delete, data: {confirm: "確定要刪除？"} %>
          </div>
      </div>
    </div>
  <% end %>
</div>
