<!DOCTYPE html>
<html>
  <head>
    <title>GoWhere</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header class="navbar-fixed">
    <%= render 'shared/navbar' %>
  </header>
    <%= render 'shared/drag-menu' if user_signed_in? %>
  <section>
    <div class="container">
      <% if user_signed_in? %>
        <div class="row">
          <div class="col m3 ">
            <%= render 'shared/left' %>
          </div>
          <div class="col m9">
            <% if flash[:notice] %>
              <div id="notice" hidden><%= flash[:notice] %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>
    </div>
  </section>
  </body>
</html>
